html {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.h3,
h3 {
    margin-top: 0px !important;
}

#savedMap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#authorName {
    float: left;
    padding: 10px;
}

#authorNumberAlbums {
    float: left;
    padding: 10px;
}

#authorImg {
    float: left;
}

.markerClass {
    border: 2px solid #555;
    box-shadow: 0px 0px 12px #888;
    border-radius: 25px;
}

.popUpImg {
    max-width: 200px;
    max-width: 290px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.popUpImg:hover {
    opacity: 0.5;
    cursor: pointer;
}

.popup-btn {
    margin-top: 6px;
}

.leaflet-popup-content {
    max-height: 350px;
    overflow: auto;
}

#authorDetails {
    width: 100%;
    float: left;
    background-color: #fff;
    display: none;
}

.hint {
    font-size: 12px;
}

#shareDiv {
    margin-bottom: 5px;
}

.albumImg {
    width: 75px;
    border-radius: 37.5px;
}

.individualAlbum {
    height: 75px;
}

#loadAlbumsButton {
    margin-left: 30px;
}

#shareButton {
    visibility: hidden;
    float: right;
}

#shareLinkInput {
    width: 100%;
    display: none;
}

table {
    width: 100%;
}

.albumDetails {
    height: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.albumDetails:hover {
    background-color: #eee;
}

.albumTitle {
    padding-left: 5px;
}

#albumResults tr {
    background-color: #eee;
    width: 100%;
}

#albumResults tr:hover {
    cursor: pointer;
    background-color: #fff;
}

#albumResults {
    border-collapse: collapse;
}

#searchTable {
    margin-bottom: 5px;
}

.innerAlbum {
    float: left:
}

#sidePanel {
    width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #ddd;
    position: absolute;
    padding: 10px;
    max-width: 400px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

p {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

#mapLoaderContainer {
    position: absolute;
    left: -moz-calc(50% + 180px);
    left: -webkit-calc(50% + 180px);
    left: calc(50% + 180px);
    top: 45%;
}

#rightPanel {
    display: table-cell;
    vertical-align: middle;
}

#noGPSMessage {
    width: 250px;
    border: 1px solid #000;
    top: 45%;
    padding: 10px;
    text-align: center;
    background-color: #eee;
    position: absolute;
    left: -moz-calc(50% + 100px);
    left: -webkit-calc(50% + 100px);
    left: calc(50% + 100px);
    display: none;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: none;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
}

.mapLoader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: none;
}

.mapLoader,
.mapLoader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.error {
    color: red;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    display: none;
}
/*Marker Cluster*/

.marker-cluster-small {
    background-color: rgba(136, 136, 136, 0.6);
    /*    background-color: red;*/
}

.marker-cluster-small div {
    /*    background-color: rgba(136, 136, 136, 0.6);*/
    /*    background-color: rgba(110, 204, 57, 0.6);*/
}

.marker-cluster-medium {
    background-color: rgba(136, 136, 136, 0.6);
    /*    background-color: rgba(241, 211, 87, 0.6);*/
}

.marker-cluster-medium div {
    /*    background-color: rgba(136, 136, 136, 0.6);*/
    /*    background-color: rgba(240, 194, 12, 0.6);*/
}

.marker-cluster-large {
    background-color: rgba(136, 136, 136, 0.6);
    /*    background-color: purple;*/
}

.marker-cluster-large div {
    /*    background-color: rgba(136, 136, 136, 0.6);*/
    /*    background-color: purple;*/
}
/* IE 6-8 fallback colors */

.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    border: 2px solid #555;
    box-shadow: 0px 0px 12px green;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

.authorImgSrc {
    border-radius: 32px;
}
/*Featherlight Customisation*/

/*
.featherlight .featherlight-content {
    padding:2px 2px 0;
    border-bottom:2px;
}*/
